body {
  margin: var(--spacing-large);
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    135deg,
    var(--color-blue) 0%,
    var(--color-purple) 50%,
    var(--color-yellow) 100%
  );
  max-width: 1132px;
}
.search {
  display: flex;
  flex-direction: row;
  height: 4.375rem;
  border: none;
  border-radius: 15px;
  overflow: auto;
}

.search__input {
  flex-grow: 1;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  padding: var(--spacing-mini) var(--spacing-base)
}

.search__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 4.375rem;
  border: none;
  background: linear-gradient(
    135deg,
    var(--color-yellow) 0%,
    var(--color-light-blue) 50%,
    var(--color-light-green) 100%
  );
}

.search__button--image {
  filter: invert(100%);
  height: 100%;
  transform: scaleX(-1);
}

.panel__title {
  display: flex;
  gap: 1.25rem;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  color: var(--color-white);
  font-weight: bold;
}