body {
  margin: var(--spacing-large);
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    135deg,
    var(--color-blue) 0%,
    var(--color-purple) 50%,
    var(--color-yellow) 100%
  );
  
  display: flex;
  justify-content: center;
}
