body {
  margin: var(--spacing-large);
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    135deg,
    var(--color-blue) 0%,
    var(--color-purple) 50%,
    var(--color-yellow) 100%
  );
  max-width: 1132px;
}
.search {
  display: flex;
  flex-direction: row;
  height: 4.375rem;
}

.search__input {
  flex-grow: 1;
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.search__button__image {
  height: 100%;
  margin-right: 10px;
}
