:root {
  --color-purple: #9933ff;
  --color-light-red: #ff6666;
  --color-light-blue: #00ccff;
  --color-light-green: #00ff99;
  --color-light-yellow: #fff9aa;
  --color-blue: #4158d0;
  --color-pink: #c850c0;
  --color-yellow: #ffcc70;
  --color-black: #000000;
  --color-grey: #999999;
  --color-white: #ffffff;
}
