.panel {
  width: 100%;
}

.panel__title {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  margin-bottom: var(--spacing-medium);
}

.panel__title--icon {
  margin-top: var(--spacing-small);
  width: 2.2rem;
}

.panel__gifs {
  display: grid;
  grid-gap: var(--spacing-medium);
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(2, minmax(200px, max-content));
  justify-content: center;
}
